{% extends 'employee_layout.html' %}

{% block title %}
    Employee
{% endblock %}


{%block content %}
<section class="content">
    <h2>Farmers commodity</h2>
    <div class="commodity-grid">
        
        <a href="#" class="commodity-item">
            <img src="image/rice.png" alt="Rice Crops">
            <p>Rice Crops</p>
        </a>
        <a href="#" class="commodity-item">
            <img src="image/highvalue.png" alt="High Value Commercial Crops">
            <p>High Value Commercial Crops</p>
        </a>
        <a href="#" class="commodity-item">
            <img src="image/livestock.png" alt="Livestock and Poultry">
            <p>Livestock and Poultry</p>
        </a>
        <a href="#" class="commodity-item">
            <img src="image/fish.png" alt="Fisheries">
            <p>Fisheries</p>
        </a>
        <a href="#" class="commodity-item">
            <img src="image/corn.png" alt="Corn and Cassava">
            <p>Corn and Cassava</p>
        </a>
    </div>
</section>

{% endblock%}